{{define "body"}}
<div class="h5 text-center bg-primary text-white m-2 p-2">
    rsvp
</div>
{{if gt (len.Errors) 0}}
<ul class="text-danger mt-3">
    {{range .Errors}}
    <li>{{ . }}</li>
    {{end}}
</ul>
{{end}}

<form method="POST">
    <div class="form-group">
        <label>Ваше имя:</label>
        <input name="name" value="{{.Name}}">
    </div>
    <div class="form-group">
        <label>Ваш e-mail:</label>
        <input name="email" value="{{.Email}}">
    </div>
    <div class="form-group">
        <label>Ваш телефон:</label>
        <input name="phone" value="{{.Phone}}">
    </div>
    <div class="form-group">
        <label>Вы добавлены?</label>
        <select name="willattend">
            <option value="true" {{if .Willattend}} selected {{end}}>
                Да, я буду
            </option>
            <option value="false"{{if not .Willattend}} selected {{end}}>
                Не, меня не будет
            </option>
        </select>
        <button class="btn btn-primary" type="submit">Отправить</button>
    </div>
</form>
{{end}}